/* .users-wrapper {
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} */
 

.users-wrapper .register-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px; /* Adds space below the Add Admin button */
}

.users-wrapper .heading {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px; /* Increased margin for better spacing */
}

.users-wrapper .sub-heading {
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0px 10px 0px;
}

/* .users-wrapper .actions-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 10px; 
    flex-wrap: wrap; 
} */

.actions-wrapper{
    display: flex;
    
    flex-wrap: wrap; 
}
.users-wrapper .edit-delete-wrapper {
    display: flex;
    justify-content: flex-start;;
    margin-top: 10px; /* Added spacing above edit/delete buttons */
 
}

/* Button styles */
.users-wrapper .update-balance-btn,
.users-wrapper .deduct-balance-btn,
.users-wrapper .adjust-markup-btn,
.users-wrapper .adjust-credit-btn {
    width: 145px;
    height: 40px; /* Adjusted width for consistency and space */
    margin: 5px;
    padding: 8px 0; /* Adjusted padding for better visual appearance */
    font-size: 12px; /* Font size adjustment */
    background-color: #EF5443; /* Primary color */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center; /* Center align text */
    align-items: center; /* Vertically center text */
    transition: transform 0.2s ease-in-out;
}
.users-wrapper .delete-agent-btn,
.users-wrapper .edit-agent-btn{
    background-color: #D9D9D9;
  
}
.users-wrapper .update-balance-btn:hover,
.users-wrapper .deduct-balance-btn:hover,
.users-wrapper .adjust-markup-btn:hover,
.users-wrapper .adjust-credit-btn:hover{
    transform: scale(1.05);
    background-color: #e64a19;
}
.users-wrapper .delete-agent-btn:hover,
.users-wrapper .edit-agent-btn:hover {
   
    background-color: #e64a19; /* Darken on hover */
}

.Agent-heading{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #EF5443;
}
.sub-Agent-heading{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #EF5443;
    margin-top: 25px;
}
.Break-line-agent{
    height: 1px;
    background-color: #E5E2DA;
    
}
/* Switch and action buttons alignment */
.users-wrapper .MuiSwitch-root {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px; /* Adjust vertical alignment */
}

.users-wrapper .MuiIconButton-root {
    color: #D9D9D9;
    margin: 0 5px; /* Space between the edit and delete buttons */
}
.users-wrapper .MuiIconButton-root:hover {
    background-color: #EF5443;}

.users-wrapper .MuiTableCell-root {
    padding: 20px 30px; /* Adjusted padding to reduce overall table size */
}

/* Pagination styles */
.MuiPagination-root {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.MuiPaginationItem-root {
    color: #EF5443;
    font-weight: bold;
}

.MuiPaginationItem-root.Mui-selected {
    background-color: #EF5443;
    color: white;
}
