.Password-form-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100vh;
    margin-left: 156px;
    margin-top: 21px;
}

.Password-tittle{
    position: relative;
    color: #EF5443;
    max-width: 1000px;
    height: 38px; 
}

.break-line{
    width: 1000px;
    height: 1px;
    background-color: #E5E2DA;
}

.Current-Password,.New-Password,.Confirm-Password{
   margin-top: 30px;
   margin-right: 40px;
   height: 50px;
   padding-left: 30px;
   width: 250px;
   border-radius: 10px 10px 10px 10px;
   border: 1px 0px 0px 0px;
   opacity: 0px;
   gap: 0px;
   background: #FFFFFF;
   border: 1px solid #E5E2DA
    
 }
.save-password{
  
  /* margin-left: 100px; */
  width: 189px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1.5px solid #FFFFFF;
  background: #EF5443;
  color: white;
  font-size: 18px;
  margin-top: 40px;
 }