@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  font-family: "Inter", sans-serif !important;
}
.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* When screen width goes below 1024px */
@media (max-width: 1024px) {
  html, body {
    min-width: 1024px;   /* stop layout shrinking */
    overflow-x: auto;    /* allow horizontal scroll */
    overflow-y: auto;
  }
}

/* When screen width goes below 768px */
@media (max-width: 768px) {
  html, body {
    min-width: 768px;    /* stop layout shrinking */
    overflow-x: auto;
    overflow-y: auto;
  }
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;         /* Chrome, Safari, Edge */
}